$mainBg: rgb(16, 4, 0);
$highlightText: rgb(255, 144, 41);
$modalBg: #1C0B02;
$modalBgContainer: rgba($mainBg, 0.9);
$inputBg: rgba(255, 144, 41, 0.05);

$profileRed: #e73737;
$profileBlue: #002aff;
$profileGreen: #00ff11;
$profileYellow: #ffff00;