@import "../../../../styles/vars/color.scss";

.groupsList {
    display: flex;
    flex-direction: column;

    width: 100%;

    &__el {
        padding: 5px 10px;

        &:hover, &.active {
            width: 100%;
            background-color: $highlightMessage;
        } 
    }
}
