.userInfo {
    display: flex;
    align-items: center;
    gap: 7px;

    overflow: hidden;

    &__username {
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 0.8rem;
    }
}