.block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__buttons {
        display: flex;
        gap: 15px;

        display: flex;
        justify-content: center;
        align-items: center;

        & button, a {
            user-select: none;
            width: 15px;
            height: 15px;

            & svg {
                vertical-align: top;

                opacity: 0.6;
                width: 100%;
                height: 100%;
                
                transition: all ease 0.2s;
            }

            &:hover {
                & svg {
                    opacity: 0.8;
                }

            }
        }
    }

    &_user {
        flex: 1 1 auto;
    }
}

.button {
    &__edit {
        background: transparent;
    }
    &__exit {
        background: transparent;
    }
}