@import "../../../../styles/vars/color.scss";

.chatPlaceholder {
    padding: 50px;
    flex: 1 0 auto;

    &__content {
        height: 100%;
        display: flex;
        flex-direction: column;
        
        align-items: center;
        justify-content: center;
        padding-bottom: 100px;

        user-select: none;
    }

    &__message {
        
    & mark {
        color: $highlightText;
    }
    }


}