.profile {
    padding: 50px 10px;

    &__content {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
}