@import "../../../styles/vars/color.scss";

.message {
    align-self: start;

    display: flex;
    flex-direction: column;
    align-items: start;

    gap: 5px;

    &__text {
        cursor: copy;
        white-space:pre;
        text-align: left;
    }


    &.sender {
        align-self: end;
        align-items: end;

        & .message__content {
            background-color: $highlightMessage;    
        }
    }

    &__content {
        font-size: 0.8rem;
        padding: 5px 10px;
        border-radius: 5px;
        border: 1px solid rgba(255, 255, 255, 0.2);;
        // background-color: $highlightMessage;  
        background-color: $inputBg; 
    }

    &__time {
        font-size: 0.6rem;
        opacity: 0.5;
    }

    &.image {
        & .message__content {
            width: 100%;
            display: flex;
            padding: 5px;
                // border-radius: 5px;
        }
        & .message__image {
            border-radius: 5px;
            overflow: hidden;
            
            & img {
                cursor: pointer;
                max-width: 400px;
            }
        }
    }

    &.file {
        & .message__file {
            padding: 5px 0;
            opacity: 0.6;
            transition: opacity ease 0.2s;

            max-width: 400px;
            display: flex;
            gap: 10px;
            align-items: center;
            
            &:hover {
                opacity: 1;
                cursor: pointer;
                color: $highlightText;

                p, span {
                    color: $highlightText;
                }

                svg {
                    fill: $highlightText;
                }
            }

            & .icon {
                &__file {
                    flex: 0 0 22px;
                    // min-width: 22px;
                    height: 30px;
                    display: flex;
                    svg {
                        vertical-align: top;
                        width: 100%;
                        height: 100%;
                    }
                }
            }

            p {
                font-size: 0.8rem;
                word-break: break-all;
            }

        }

        & .file__description {
            display: flex;
            flex-direction: column;
            gap: 3px;
            align-items: start;

            & span {
                font-size: 0.5rem;
            }


        }
    }
}


